@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
* {
  margin: 0;
  font-family: "Commissioner", sans-serif;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a98c64;
}
header div:nth-child(1) {
  width: 380px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div:nth-child(1) p {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
header div:nth-child(2) {
  width: 130px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15%;
}
header div:nth-child(2) a {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
header div:nth-child(2) img {
  width: 14px;
  height: 16px;
}
