@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
* {
  margin: 0;
  font-family: "Commissioner", sans-serif;
}
body {
  background-color: #faf6f2;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  justify-content: center;
  background-color: #a98c64;
}
header div:nth-child(1) {
  width: 380px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div:nth-child(1) p {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
header div:nth-child(2) {
  width: 130px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15%;
}
header div:nth-child(2) a {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
header div:nth-child(2) img {
  width: 14px;
  height: 16px;
}
.first_section {
  width: 90%;
  height: 70px;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}
.sslki {
  width: 800px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  font-weight: 500;
  font-size: 18px;
  color: #493e3e;
  text-decoration: none;
}
.contacts {
  width: 210px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.contacts a {
  font-weight: 500;
  font-size: 14px;
  color: #4d8f76;
  text-align: right;
  text-decoration: underline;
}
.contacts p {
  text-align: right;
}
.contacts p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  color: #493e3e;
}
.contacts p:nth-child(1) {
  font-weight: 500;
  font-size: 12px;
  color: #756d6d;
}
.second_section {
  width: 85%;
  height: 600px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first {
  width: 747px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
h1 {
  font-weight: 700;
  font-size: 60px;
  color: #000000;
}
.knopki {
  width: 480px;
  height: 48px;
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}
.knopki button:nth-child(1) {
  width: 203px;
  height: 48px;
  border-radius: 40px;
  padding: 9px 26px;
  background-color: #4d8f76;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.knopki button:nth-child(2) {
  width: 250px;
  height: 48px;
  border-radius: 40px;
  padding: 9px 26px;
  background-color: inherit;
  border: 1px solid #4d8f76;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #4d8f76;
}
.second {
  width: 600px;
  height: 600px;
  position: relative;
}
.second img:nth-child(1) {
  position: absolute;
  z-index: 0;
  top: 326px;
  left: -50px;
}
.second img:nth-child(2) {
  position: absolute;
  z-index: 1;
}
.second img:nth-child(3) {
  position: absolute;
  z-index: 0;
  left: 480px;
  top: 80px;
}
.third_section {
  width: 85%;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.one {
  width: 756px;
  height: 241px;
}
.one p {
  font-weight: 500;
  font-size: 48px;
  color: #000000;
  margin-bottom: 50px;
}
.two {
  width: 100%;
  height: 130px;
}
.two p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #493e3e;
  margin: 0;
}
.fours_section {
  width: 85%;
  height: 293px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
}
.three {
  width: 770px;
  height: 293px;
}
.three p {
  font-weight: 500;
  font-size: 48px;
  color: #000000;
  margin-bottom: 50px;
}
.four {
  width: 100%;
  height: 182px;
}
.four p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #493e3e;
  margin: 0;
}
.fives_section {
  width: 85%;
  margin: auto;
  height: 150px;
  margin-top: 100px;
  border-radius: 30px;
  background-color: #e2ddc0;
  padding: 30px;
}
.fives_section p {
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.five {
  width: 80%;
  height: 67px;
  display: flex;
  align-items: self-end;
  justify-content: space-between;
  margin-top: 30px;
}
.gender {
  width: 86px;
  height: 67px;
}
.gender p {
  font-weight: 500;
  font-size: 12px;
  color: #756d6d;
  text-align: center;
  margin-bottom: 5px;
}
.choice {
  width: 66px;
  height: 28px;
  border-radius: 60px;
  background-color: #faf6f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.choice p:nth-child(1) {
  width: 16px;
  height: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #493e3e;
  border-radius: 50%;
  padding: 9px 11px;
  background-color: #dfccb7;
  margin-top: -5px;
  margin-left: -5px;
}
.choice p:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
  color: #493e3e;
  margin-top: 5px;
  margin-right: 5px;
}
.veight {
  width: 61px;
  height: 20px;
  padding: 14px 15px;
  border-radius: 40px;
  background-color: #faf6f2;
}
.veight p {
  font-weight: 500;
  font-size: 16px;
  color: #493e3e;
}
.height {
  width: 70px;
  height: 20px;
  padding: 14px 15px;
  border-radius: 40px;
  background-color: #faf6f2;
}
.height p {
  font-weight: 500;
  font-size: 16px;
  color: #493e3e;
}
.age {
  width: 100px;
  height: 20px;
  padding: 14px 15px;
  border-radius: 40px;
  background-color: #faf6f2;
}
.age p {
  font-weight: 500;
  font-size: 16px;
  color: #493e3e;
}
.activity {
  width: 151px;
  height: 20px;
  padding: 14px 15px;
  border-radius: 40px;
  background-color: #faf6f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.activity p {
  font-weight: 500;
  font-size: 16px;
  color: #493e3e;
}
.activity svg {
  width: 20px;
  height: 20px;
  color: #493e3e;
  font-weight: 500;
}
.target {
  width: 160px;
  height: 22px;
  padding: 14px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #faf6f2;
}
.target p {
  font-weight: 500;
  font-size: 16px;
  color: #493e3e;
}
.target svg {
  width: 20px;
  height: 20px;
  color: #493e3e;
  font-weight: 500;
}
.count {
  width: 180px;
  height: 30px;
  padding: 9px 15px;
  border-radius: 40px;
  background-color: #4d8f76;
}
.count p {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}
